<!DOCTYPE html>
<html lang="{{@site.locale}}" class="{{body_class}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{meta_title}}</title>
    {{ghost_head}}
    <link rel="stylesheet" href="{{asset "css/screen.css"}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;0,900;1,400;1,700&family=Source+Sans+3:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body class="{{body_class}}">

{{> "header"}}

<main id="site-main" class="site-main">
    {{{body}}}
</main>

{{> "footer"}}

<script src="{{asset "js/main.js"}}"></script>
{{ghost_foot}}

</body>
</html>
